.recipe-cover {
    position: relative;
    width: 23%;
    height: 15rem;
    float: left;
    margin: 1%;
}

.recipe-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

@media (max-width: 1200px) {
    .recipe-cover {
        width: 31%;
        height: 20rem;
    }
}

@media (max-width: 992px) {
    .recipe-cover {
        width: 48%;
        height: 20rem;
    }
}

@media (max-width: 768px) {
    .recipe-cover {
        width: 96%;
        height: 20rem;
        float: none;
        margin: 2%;
    }
}

.recipe-cover-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 2px #998;
}

.recipe-cover:hover img {
transform: scale(0.98);
transition: transform 0.2s;
}